<h2>Instruments</h2>

<div>
    <p><%= form_with url: student_form_students_path do %></p>
    <p id="dropdown"><%= select_tag 'instrument', options_for_select(@subjects.map { |s| s.instrument }, @subjects.first.instrument) %></p>
    <p class="actions"><%= submit_tag 'Submit' %></p>
    <% end %>
</div>