<h2>Register</h2>
<h4>Are You A Student Or Teacher?</h4>

<nav class="register-flex">
    <div class="register-btn">
        <% unless current_student || current_teacher %>
        <%= link_to "Student", new_student_path, class: "link-button" %>
    </div>
    <div class="register-btn">
        <%= link_to "Teacher", new_teacher_path, class: "link-button" %>
        <% end %>
    </div>
</nav>