<h2>Register</h2>
<h3>Are You A Student Or Teacher?</h3>

<nav>
    <% unless current_student || current_teacher %>
    <%= link_to "Student", new_student_path, class: "link-button" %>
    &nbsp;&nbsp;|&nbsp;&nbsp;
    <%= link_to "Teacher", new_teacher_path, class: "link-button" %>
    <% end %>
</nav>