<h2>Select Teacher</h2>
    <nav>
        <h3>
            <% @teachers.each do |teacher| %>
                <%= link_to teacher.name, "/teachers/#{teacher.id}" %>
            <% end %>
        </h3>    
    </nav> 
