<h2>Schedule Appointment</h2>

<% @teacher.lessons.each do |lesson| %>
    <% if lesson.appointment.nil? %>
        <div class="app">
            <p> <%= lesson.time.strftime("%m/%d/%Y - %l:%M%p") %> </p>
            <p> <%= lesson.subject %> </p>
            <p> <%= lesson.homework %> </p>
            <p> <%= button_to "Book", lesson_appointments_path(lesson), method: :post, class: "book-btn" %> </p>
        </div>
    <% end %>
<% end %>
