/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
    font-family: 'Comfortaa', cursive;
    color: black;
    text-decoration: none;
}

body {
    background-color: white;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 30vw;
    width: 100%;
    height: 100%;
}

.log-btn {
    text-align: right;
}

h1 {
    font-size: 30px;
    text-align: center;
}

.nav-all {
    display: flex;
    justify-content: center;
}

.reg-all {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.field {
    display: flex;
    justify-content: center;
}

.actions {
    display: flex;
    justify-content: center;
}

nav {
    text-align: center;
}

#ins-select {
    display: flex;
    justify-content: center;
}

.app {
    border: solid black 1px;
    text-align: center;
    margin: 10px 300px;
}

div {
    margin: 5px 0px;
}