/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
    font-family: 'Didact Gothic', sans-serif;
    color: white;
    text-decoration: none;
}

body {
    background-color: #96a5ad;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 30vw;
    width: 100%;
    height: 100%;
}

.log-btn {
    text-align: right;
    margin: 20px 20px 0px 20px;
}

h1 {
    font-size: 30px;
    text-align: center;
    margin: 0 auto;
}

h2 {
    font-size: 20px;
    text-align: center;
}

.nav-all {
    display: flex;
    justify-content: center;
    margin: 20px auto;
}

.reg-all {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.actions, .app-actions {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.app-actions {
    display: flex;
    background-color: #94d1e0;
    margin: 20px auto;
    padding: 5px;
    border: solid white 5px;
    max-width: 200px;
}

.actions {
    display: flex;
    background-color: #94d1e0;
    margin: 20px auto;
    padding: 5px;
    border: solid white 5px;
    max-width: 200px;
}

#instrument {
    display: flex;
    background-color: #94d1e0;
    margin: 20px auto;
    padding: 5px;
    max-width: 200px;
}

nav {
    text-align: center;
}

.app {
    border: solid grey 2px;
    text-align: center;
    margin: 10px 300px;
    background-color: #94d1e0;
}

p {
    color: white;
}

div {
    margin: 5px 0px;
}

.app-title {
    font-size: 20px;
    font-weight: bolder;
    text-decoration: underline;
    text-align: center;
}

.delete-btn {
    text-align: right;
    margin: 10px 10px;
}

.field {
    display: flex;
    justify-content: center;
    max-width: 420px;
    background: #94d1e0;
    margin: 0px auto;
    padding: 15px;
    border-radius: 30px;
}

.app-form {
    display: flex;
    justify-content: center;
    max-width: 420px;
    background: #94d1e0;
    margin: 0px auto;
    padding: 15px;
    border-radius: 30px;
}

.break {
    text-align: center;
    margin: 0 50px;
}

input {
    margin: 0 auto;
    background: white;
    border: none;
    border-radius: 0px;
    font-size: 16px;
    outline: 0;
    padding: 7px;
    width: 75%;
    box-sizing: border-box;
    background-color: white;
    color: black;
    text-align: center;
    cursor: pointer;
}

select {
    background-color: #94d1e0;
    margin: 0 auto;
    border: solid white 1px;
    width: 50%;
    cursor: pointer;
    color: white;
    font-size: 16px;
}

label {
    display: flex;
    justify-content: center;
    margin: 10px auto;
    margin-left: 2px;
    color: white;
}

.teach-sel {
    text-align: center;
    list-style-type: none;
}

li {
    margin: 15px auto;
    text-decoration: underline;
}