/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
    font-family: 'Julius Sans One', sans-serif;
    color: black;
    text-decoration: none;
}

body {
    background-color: white;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 30vw;
    width: 100%;
    height: 100%;
}

.log-btn {
    text-align: right;
    margin: 20px 20px 0px 20px;
}

h1 {
    font-size: 30px;
    text-align: center;
}

.nav-all {
    display: flex;
    justify-content: center;
    margin: 20px auto;
}

.reg-all {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.actions, .app-actions {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

nav {
    text-align: center;
}

.ins-select {
    display: flex;
    justify-content: center;
}

.app {
    border: solid black 2px;
    text-align: center;
    margin: 10px 300px;
}

div {
    margin: 5px 0px;
}

.app-title {
    font-size: 20px;
    font-weight: bolder;
    text-decoration: underline;
    text-align: center;
}

.delete-btn {
    text-align: right;
    margin: 10px 10px;
}

.field {
    display: flex;
    justify-content: center;
    max-width: 500px;
    background: #f4f7f8;
    margin: 10px auto;
    padding: 20px;
    border-radius: 8px;
}

.app-form {
    display: flex;
    justify-content: center;
    max-width: 500px;
    background: #f4f7f8;
    margin: 10px auto;
    padding: 20px;
    border-radius: 8px;
}

.break {
    text-align: center;
    margin: 0 50px;
}

input {
    margin: 0 auto;
    background: white;
    border: none;
    border-radius: 1px;
    font-size: 16px;
    outline: 0;
    padding: 7px;
    width: 60%;
    box-sizing: border-box; 
    background-color: white;
    color:black;
    text-align: center;
    cursor: pointer;
}

select {
    margin: 0 auto;
    border: solid black 1px;
    width: 50%;
    cursor: pointer;
}

label {
    margin: 10px auto;
    margin-left: 2px;
}

.teach-sel {
    text-align: center;
    list-style-type: none;
}

li {
    margin: 15px auto;
    text-decoration: underline;
}